body{
    overflow-x: hidden;
}
img{
	max-width:100%;
    height: auto;
}
p{	
	margin:0;
	padding :5px 20px;	
}
h3{
	font-size:18px;
	color: #919191;
}
a{  
    text-align: center;
    font-weight: bold;
    font-size: 12px;
	color: black;
	text-decoration: none;
}
   .container-fluid {
    margin: 0;
    padding: 0;
}
.container{
    width:100% ;
    padding: 0px;
}
.icon-bar{
    background-color: #e40f67;
}
.navbar-toggle{
    text-align: center;
}
.navbar-brand{
    margin-left: 5%;
    font-size: 40px;
    font-weight: 20;
    color: #e95090;    
}   

sign-up{
    font-weight: bold;
    box-shadow:  4px 4px 5px rgb(189, 187, 187);
    padding: 16px 45px;
    color: white;
    border-radius: 20px;
    background-color: #e40f67 ;
    font-size: 15px;
    }
    ul{
    margin:0;
    }
    ul li{	 
        display: inline-block; 
        padding:10px;
        font-size:14px;   
        }
    ul li a{
        color: gray;
        text-decoration: none;
        }	
    .carcaption{
            bottom:35%;
    }    
    button{
        margin:5px 15px;	
    }
    navigation-1{
        color:rgb(39, 38, 38);
        font-weight: bold;
        letter-spacing: 3px;
    }
    .carouseldiv{
        background: linear-gradient(#ff0066dc, #ff0066e8);
    }
    .sliderimg img{
        opacity: .4;
        
    }
    #slidertext{
        position: absolute;
        bottom: 1vw;
    }
    banner-heading{
        letter-spacing: .5vw;
        color:white ;
        }        
    banner-text{
        margin-top: 2vw;
        text-align: center;       
        position: relative;
        font-size: 1rem;
        padding: 0 8vw;
        color: white;
        padding-bottom: 4vw;
        display: block;
        }
    banner-button{
        color: #e60073 ;
        font-size:15px; 
        border-radius: 20px;
        background-color: white ;
        padding: 1vw 2vw;
        }
    .about{
        padding-top: 5%;
    }
    .about-img{
        height: 50vw;
        position: relative;
    }
    #about-pimg {
        margin-left: 13vw;
        margin-top: 5vw;
        position: absolute;
        border-top-left-radius: 80px 80px;
        border-bottom-left-radius: 80px 80px;
        border-top-right-radius: 150px 150px;
        border-bottom-right-radius: 150px 150px;
        overflow: auto;
        width:25vw;            
        }
    #about-pimg img{
            height: 22vw;
            width:100%;
     }
     #about-pimg-border{
        margin-left: 16.5vw;
        width:20vw;
        margin-top: 1.2vw;
        height: 19vw;
        border-top-left-radius: 80px 80px;
        border-bottom-left-radius: 80px 80px;
        border-top-right-radius: 150px 150px;
        border-bottom-right-radius: 150px 150px;
        position: relative;
        z-index: 9;
        background-color: transparent;
        border: .5vw solid #e60073;     
        }
    .about-text{
        padding-right: 7%;;
        padding-left: 11%;
    }
    about-heading{
            margin-top: 1vw;
            letter-spacing: 1vw;
            display: block;
            color: #e60073;
            font-size: 3.2vw;
            margin-bottom: 2px;
        }
    about-des{
        font-size: 1.2vw;
        font-weight: lighter;
        display: block;
        padding-bottom: 7vw;
        }
    about-button{
        color: white ;
        margin-top: 15vw;
        font-weight: bold;
        font-weight: normal;
        font-size: 15px; 
        border-radius: 20px;
        background-color: #e60073 ;
        padding: 1vw 3vw;
    }
    about-button p {
        margin-top:20px;
    }
    
    #features{	
            padding:15px 15px;      
    }	
    .featureintro{
        letter-spacing: .5vw;
    }
    navigation-fea{
        color:rgb(56, 54, 54);
        font-weight: bold;
        }
    fea-heading{
        text-align: center;
        margin-top: 2px;
        letter-spacing: 6px;
        display: block;
        width:100%;
        color: #e60073;
        font-size: 35px;
        margin-bottom: 10px;
    }
		#featureimg1{
			min-height:75px;
            background-image:url("download.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
			content:"";
		}
		.feboxtext{
            text-align:center;
			color:black;
		} 
        #featureimg2{
			min-height:75px;
            background-image:url("running.jpeg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
			content:"";
		}
		#centerbox{ 
            min-height: 300px;
            height:100%;

		}
        #featureimg3{
			min-height:75px;
            background-image:url("1.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
			content:"";
		}
		#rightbox {
			min-height: 300px;
			height:100%;          
		}
		.img{
			float:left;
			min-height:150px;
			margin:10px;
			content:"";
			width :100%;
		}
		.box{
            
			background: transparent;
			height:100%;
			position:relative;
            width:100%; 
		}
		#feaabout{
            margin-top: 17%;
            padding: 15% 0;
            position: relative;
            overflow: hidden;
			float:left;
        }
        #feaabout-img{
            margin-top: 7vw;
            height: 35vw;
            float:left;
            position: relative;
            width: 85%;
            
        }
        #feaabout-pimg {
            margin-left: 6vw;
            position: absolute;
            border-top-left-radius: 80px 80px;
            border-bottom-left-radius: 80px 80px;
            border-top-right-radius: 150px 150px;
            border-bottom-right-radius: 150px 150px;
            overflow: auto;
            width:30vw;      
            top: 0;
            left: 0;
        }
        #feaabout-pimg img{
            
            height: 25vw;
            width:100%;
        }
        #feaabout-pimg-border{
            margin-right:1vw;
            margin-top:13%;
            height: 25vw;
            border-top-left-radius: 80px 80px;
            border-bottom-left-radius: 80px 80px;
            border-top-right-radius: 150px 150px;
            border-bottom-right-radius: 150px 150px;
            background-color: transparent;
            border: .5vw solid #e60073;
            z-index: 9;
        }
        .feaabout-text{
            display: block;
            padding-right:13%;
            width: 33%;
        }
        feaabout-heading{
            margin-top: 2px;
            letter-spacing: 6px;
            display: block;
            width:100%;
            color: #e60073;
            font-size: 40px;
            margin-bottom: 10px;
        }
        feaabout-des{
            letter-spacing: .2vw;
            display: block;
            padding-bottom: 60px;
        }
        feaabout-button{
            color: white ;
            margin-top: 70px;
            font-weight: bold;
            font-size:20px; 
            border-radius: 20px;
            background-color: #e60073 ;
            padding: 10px 45px;
        }
        feaabout-button p {
           margin-top:20px;
        }	
    #dashboard{
            background-color: rgb(233, 232, 232);
        }
        dash-heading{
            margin: 0 8vw;
            margin-top:.5vw;
            letter-spacing: 6px;
            color: #e60073;
            font-size: 3rem;
            margin-bottom: 1vw;
            text-align: center;
        }
        #dash-pimg{
            margin: 3% 25%;
        }
        #dash-pimg img{
            -webkit-filter: drop-shadow(5px 5px 5px #222);
            filter: drop-shadow(5px 5px 5px #222);
        }
        #dash-text{
            line-height: 25px;
            letter-spacing: 1.5px;
            text-align: center;
            padding: 1% 14%;
            color: rgb(43, 39, 39);
        }
        #review{
            overflow: hidden;
            padding-bottom: 35px;
        }
        #reviewintro{
            padding-top: 55px;
            text-align: center;
            padding-bottom: 75px;
        }
        #revimg1{
            border-radius: 50%;
			min-height:100px;
            background-image:url("shawn.jpeg");
            background-position: center;
            background-repeat: no-repeat;
            padding-bottom: 15px;
            margin:35px;
            background-size: contain;
			content:"";
		}
        .reviewbox{
            min-width: 250;
            text-align:center;
            border: solid rgb(212, 210, 210) .5px;
			min-height: 300px;
			height:100%;
			position:relative;
			margin:1%;
            margin-left: 4%;
            margin-right: 4%;
		}
		
		.revitext {
            padding:17% 15%;
			text-align:center;
			margin:0;
			background-color:white;
			color:black;
			height:10%;
			position: relative;
			bottom: 0px;
			
		} 
        #revimg2{
            background-position: center;
            border-radius: 50%;
			min-height:100px;
            background-image:url("review.jpeg");
            background-repeat: no-repeat;
            padding-bottom: 15px;
            margin:35px;
            background-size: contain;
			content:"";
		}
        #revimg3{
            border-radius: 50%;
			min-height:100px;
            background-image:url("Stefan-S8.jpg");
            background-position: center;
            background-repeat: no-repeat;
            padding-bottom: 15px;
            margin:35px;
            background-size: contain;
			content:"";
		}
        review-person{
            text-align:center;
            color:rgb(82, 78, 78);
        }
        #sign-up{
            margin: 0;
            padding: 5vw 4vw; 
            overflow: hidden;
            background-image:linear-gradient(to left,rgb(255, 0, 191), #ff0040);
        }
        #signup-text{
            letter-spacing:.4vw;
            margin-left: 5vw;
        }
        #sign-up h3{
            color: white;
            font-size:30px;
        }
        .signup-button{    
            margin-left:8vw;       
            width:20%;           
        }
        revsign-up{
            font-weight: bold;
            box-shadow:  4px 4px 5px rgb(226, 16, 209);
            padding: 16px 45px;
            color:#e40f67;
            border-radius: 20px;
            background-color:white ;  
            z-index: 15;
            font-size: 15px;
        }
        #signupbanner{ 
            background-image: linear-gradient(rgba(15, 15, 15, 0.568), #333031), url("tut.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;         
            z-index: 1;
            padding:4% 0;
            padding-bottom: 10%;
            overflow: hidden;
            }
        #revtext{     
                position: relative;
                z-index: 15;
            }     
        #revtext p{
            margin: 0;
            margin-left: 7vw ;
        }    
        signbanner-heading{
            
            line-height: 200%;    
            font-size:40px;
            color: rgb(252, 249, 249);
            padding-bottom: 10px;
            }        
        signbanner-text{ 
                line-height: 200%;     
                font-size:20px;
                color: rgb(255, 255, 255);
                padding-bottom: 20px;
            }
        signbanner-button{
                color: #e60073 ;
                margin-top: 2px;
                font-size:15px; 
                border-radius: 20px;
                background-color: white ;
                padding: 1vw 4vw;
            }
        navigation-rev{
            margin-left: 110px;
            line-height: 200%;
            text-align: left;       
            position: relative;
            color:rgb(255, 255, 255);
            padding-bottom: 20px;
            display: block;
            text-align: left;
            font-weight: bold;
            letter-spacing: 5px;
        }    
        form{
            padding-left:12% ;
        }
        #signform{
            padding-top: 4%;
            position: relative;
        }
        form label{
            margin-top:15px;
            color: white;

        }
        form input[type=text]{
            border-radius: 5px;
            border: transparent;
            height : 35px;
            width: 75%;
            background-color: #c5bfc1;
            opacity: .6;
        }
        form textarea{
            border-radius: 5px;
            border: transparent;
            height : 80px;
            width: 75%;
            background-color: #c5bfc1;
            opacity: .6;
        }
        form button{
            margin: 0;
            height : 35px;
            width: 76%;
            color: white ;
            margin-top: 2px;
            font-size:15px; 
            border: transparent;
            background-color: #e60073 ;
            padding: 10px 45px;
        }
  
 footer{
    margin: 0;
    padding: 0;
}
#footericon{
    
    margin-left: 8vw;
    margin-right:50px;
    padding-top : 2vw;
    padding-bottom: 12px;
    overflow: hidden;
}
#footericon img{
    width:3em; 
    height:3em;
    padding: 5px 3px;
}

#footer-logo{
        
        font-weight: lighter;     
        color: #e95090;    
        font-size:50px;   
}

@media only screen and (max-width: 600px) {
    feaabout-heading{
        font-size: 20px;
    }
    banner-heading{
        letter-spacing: 0;
        font-size: 18px;
    }
    banner-text{
        font-size: 14px;
    }
    .text {
      font-size: smaller;
    }
    dash-heading{
        font-size: 25px;
    }
   revsign-up{
       font-size: 16px;
   }
   .carcaption{
    bottom:0%;
}
  }
  @media only screen and (max-width: 350px) {
    banner-heading{
        letter-spacing: 0;
        font-size: 18px;
    }
    banner-text{
        font-size: 10px;
    }
}